.container {
  width: 100%;
  padding: 1.25rem 1.25rem;

  @media (min-width: 640px) {
    padding: 2rem 2rem;
  }

  @media (min-width: 768px) {
    padding: 1.5rem 2rem;
  }

  @media (min-width: 1024px) {
    padding: 2rem 3rem;
  }
}

.content {
  max-width: 62.5rem; // max-w-[1000px]
  margin: 0 auto;
  margin-top: 1.25rem;
}

.divider {
  flex-shrink: 0;
  background-color: rgb(229, 231, 235);
  height: 1px;
  width: 100%;
  margin: 1.5rem 0;

  @media (prefers-color-scheme: dark) {
    background-color: rgb(55, 65, 81);
  }
}
