.item {
  font-weight: 600;
  background-color: rgb(243, 244, 246);
  padding: 0.5rem;
  border-radius: 0.125rem;

  @media (prefers-color-scheme: dark) {
    background-color: rgb(243, 244, 246);
    color: rgb(0, 0, 0);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: color 0.3s;

  &:hover {
    color: rgb(37, 99, 235);

    @media (prefers-color-scheme: dark) {
      color: rgb(96, 165, 250);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(17, 24, 39);

  @media (prefers-color-scheme: dark) {
    color: rgb(0, 0, 0);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.companies {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.badge {
  background-color: rgb(229, 231, 235);
  padding: 0.125rem 0.5rem;
  border-radius: 0.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(75, 85, 99);

  @media (prefers-color-scheme: dark) {
    background-color: rgb(55, 65, 81);
    color: rgb(209, 213, 219);
  }
}
