.container {
  margin-bottom: 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(17, 24, 39);

  @media (prefers-color-scheme: dark) {
    color: rgb(243, 244, 246);
  }
}

.description {
  color: rgb(107, 114, 128);
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;

  @media (prefers-color-scheme: dark) {
    color: rgb(156, 163, 175);
  }
}
