@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.container {
  margin-bottom: 1.5rem;
  
  @include md {
    margin-bottom: 2rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  
  @include md {
    gap: 0.625rem;
  }
}
