@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  text-align: center;
  margin-bottom: 4rem;
  animation: blur-in 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  
  @include md {
    margin-bottom: 5rem;
  }
  
  &.noAnimation {
    animation: none;
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes blur-in {
  0% { 
    filter: blur(20px); 
    opacity: 0; 
    transform: scale(0.95); 
  }
  100% { 
    filter: blur(0px); 
    opacity: 1; 
    transform: scale(1); 
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, $indigo-400, $purple-400, $indigo-500);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
  @include sm {
    font-size: 3.5rem;
  }
  
  @include md {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
  
  @include lg {
    font-size: 5.5rem;
  }
}

.description {
  font-size: 1rem;
  color: #a3a3a3;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025em;
  max-width: 48rem;
  margin: 0 auto;
  text-wrap: balance;
  
  @include md {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
