@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  margin-bottom: 2rem;
  
  @include md {
    margin-bottom: 3rem;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  
  @include md {
    gap: 1rem;
  }
}
