.container {
  display: flex;
  align-items: flex-start;
  gap: 3.5rem;
  padding: 0 1.25rem;
  max-width: 1850px;
  margin: 0 auto;

  @media (min-width: 640px) {
    padding: 0 2rem;
  }

  @media (max-width: 768px) {
    padding: 0 0.5rem;
    gap: 1rem;
  }
}

.sidebar {
  flex: 1;
  min-width: 230px;
  position: sticky;
  top: 4rem;
  display: none;
  flex-direction: column;
  height: calc(94.5vh);
  overflow-y: auto;

  @media (min-width: 768px) {
    display: flex;
  }
}

.content {
  flex: 1;
  padding: 0.25rem;

  @media (min-width: 768px) {
    flex: 6;
  }
}

.contentInner {
  display: flex;
  align-items: flex-start;
  gap: 3.5rem;
}

.toc {
  display: none;
  flex-direction: column;
  position: sticky;
  top: 4rem;
  gap: 0.75rem;
  padding: 2rem 0;
  min-width: 230px;
  height: calc(94.5vh);

  @media (min-width: 1280px) {
    display: flex;
  }
}
