@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.container {
  width: 100%;
}

.breadcrumbWrapper {
  padding-bottom: 1.5rem;
  
  @include md {
    padding-bottom: 2rem;
  }
}

.content {
  width: 100%;
}
