@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  min-height: calc(100vh - 200px);
  gap: 3rem;
  
  @include md {
    padding: 0 2rem;
  }
}

.tocSidebar {
  width: 260px;
  flex-shrink: 0;
  padding: 2rem 0;
  position: sticky;
  top: 100px;
  height: fit-content;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(99, 102, 241, 0.3);
    border-radius: 4px;
    
    &:hover {
      background: rgba(99, 102, 241, 0.5);
    }
  }
  
  @include lg {
    display: block;
  }
  
  @media (max-width: 1024px) {
    display: none;
  }
}

.content {
  flex: 1;
  min-width: 0;
  padding: 2rem 0;
}

.contentInner {
  width: 100%;
  max-width: 750px;
  
  @media (max-width: 768px) {
    padding: 0;
  }
}
