@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.breadcrumb {
  margin-bottom: 1.5rem;
  
  @include md {
    margin-bottom: 2rem;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.375rem;
  word-break: break-words;
  font-size: 0.8125rem;
  color: #737373;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
}

.separator {
  display: inline-flex;
  align-items: center;
  color: #525252;
}

.separatorIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.link {
  transition: color 150ms;
  color: #737373;
  text-decoration: none;
  
  &:hover {
    color: $indigo-400;
  }
}

.current {
  font-weight: 500;
  color: white;
}
