@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  width: 100%;
}

.breadcrumbWrapper {
  padding-bottom: 1rem;
  
  @include md {
    padding-bottom: 1rem;
  }
}

.content {
  width: 100%;
}
