@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  background: rgba(99, 102, 241, 0.1);
  border: 1px solid rgba(99, 102, 241, 0.2);
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.025em;
  margin: 1.5rem 0;
  
  :global(p) {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #d4d4d4;
    
    :global(strong) {
      font-weight: 600;
      color: white;
    }
  }
}

.title {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: $indigo-400;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
