.container {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  padding: 2rem 1rem;
  max-width: 56rem; // max-w-4xl
  margin: 0 auto;
  width: 100%;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}
