@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include lg {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  @include xl {
    grid-template-columns: repeat(4, 1fr);
  }
}
